
<div class="container col-4 mb-3">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1>Update a ski:</h1>
       <%= render 'form', ski: @ski %>
    </div>
  </div>
</div>
