.ski-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 22px;
}

.ski-cards-search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 22px;
}

@media(max-width: 1200px) {
  .ski-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 900px) {
  .ski-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 580px) {
  .ski-cards {
    grid-template-columns: 1fr;
    width: 300px;
  }
}

.ski-card {
  margin-top: 40px;
}

.ski-card-search {
  margin-top: 0px;
}

.ski-card-body {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  h5 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.ski-card-rating {
  font-size: 13px;
}

.ski-card-body i {
  font-size: 12px;
  margin-left: 3px;
}


.card-img-top {
  margin-right: 15px;
}
.ski-card-img {
  background-color: white;
  border-radius: 10px;
  height: 150px;
  text-align: center;
}
.ski-card-img img {
  border-radius: 10px;
  justify-content: center;
  height: 100%;
}
///////////////////////////////
.card-product {
  overflow: hidden;
  height: 95%;
  background: rgba(255, 255, 255, 0.758);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 0px 0px;
  padding: 20 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: BLACK;
  border-radius: 5px;
  position: relative;
  margin: 10px 8px;
}

.card-product img {
  height: 180px;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.card-product p {
  font-size: 12px;
  margin-bottom: 0px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product p {
  font-size: 16px;
}

.card-product .card-product-infos {
  padding: 16px;
}

/////////////////////////////////////
.all-product {
  display: grid;
  grid-template-columns: 4fr 2fr ;
  grid-gap: 22px;
  background-color: white;
  .product {
    padding: 22px;
    .grid-info {
      display: grid;
      grid-template-columns: 4fr 3fr;
      grid-gap: 22px;
    }
    .product-photo img {
      width: 400px;
    }
  }

  .product-info {
    padding: 22px;
    margin-top: 100px;
  }

  .booking {
    padding: 22px;
    border-left: solid 1px gray;
  }
}



////////////////////////////////////
.card-myskis {
  overflow: hidden;
  height: 150px;
  max-width: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  color: black;
}

.card-myskis a > img {
  height: 100%;
  width: 100px;
  object-fit: cover;
  margin-right: 0;
}

.card-myskis h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-myskis p {
  font-size: 12px;

  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-myskis .card-myskis-infos {
  padding: 16px;
}

.icon i {
  color: black;
  opacity: 0.20;
  margin-top: 27px;
  font-size: 15px;
}

.icon i:hover {
  opacity: 1;
}

.fa-edit {
  margin-left: 148px;
}

///////////////////////////////////////
.card-show {
  background-color: white;
  overflow: hidden;
  height: 95%;
  display: flex;
  align-items: center;
  margin: 0px 0px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: BLACK;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  margin: 50px 0px;
}


/////////////////////////////

.container-booking{
	box-shadow: 0 10px 10px 1px grey;
	background: rgba(255, 255, 255, 250);
	text-align: left;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 300px;
	width: 480px;
}

.booking-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px 15px;
	height: 100%;
}

.container-booking .booking-details h2{
	display: inline-block;
	position: relative;
	font-size: 19px;
	color: #205375;
	margin: 25px 5px;
}

.container-booking .booking-details h2:before{
	position: absolute;
	content: '';
	right: 0%;
	top: 0%;
	transform: translate(25px, -15px);
	display: inline-block;
	border-radius: 5px;
	font-size: 9px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}


.container-booking .booking-details > p {
	text-align: left;
	font-size: 13px;
	color: #112B3C;
  margin-top: 0px;
  margin-bottom: 5px;

}

.booking-image {
  transition: all 0.3s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  float: left;
  width: 45%;
  display: inline-block;
}

.container-booking img {
  width: 100%;
  height: 100%;
}

.info {
    background: rgba(27, 26, 26, 0.9);
    transition: all 0.3s ease-out;
    transform: translateX(-120%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 85%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 85px;
}

.booking-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.booking-image:hover img {
  transition: all 0.3s ease-out;
  transform: scale(1.2, 1.2);
}

.card-reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 22px;
}
