.ski-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 22px;
}

@media(max-width: 1200px) {
  .ski-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 900px) {
  .ski-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 580px) {
  .ski-cards {
    grid-template-columns: 1fr;
    width: 300px;
  }
}

.ski-card {
  margin-top: 40px;
}

.ski-card-body {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  h5 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.ski-card-rating {
  font-size: 13px;
}

.ski-card-body i {
  font-size: 12px;
  margin-left: 3px;
}

.ski-card-img img {
  border-radius: 10px;
  height: 200px;
  width: 100%;
}

//////////////////////////
.card-product {
  overflow: hidden;
  height: 400px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
}

.card-product p {
  font-size: 16px;
}

.card-product .card-product-infos {
  padding: 16px;
}

//////////////////////////
.card-myskis {
  overflow: hidden;
  height: 100px;
  width: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  color: black;
}

.card-myskis a > img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

.card-myskis h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-myskis p {
  font-size: 12px;

  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-myskis .card-myskis-infos {
  padding: 16px;
}

.icon i {
  color: black;
  opacity: 0.20;
  margin-top: 12px;
  font-size: 15px;
}

.icon i:hover {
  opacity: 1;
}

.fa-edit {
  margin-left: 122px;
}
