.navbar-lewagon {
  justify-content: space-between;
  background: #F66B0E;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  display: flex;
  color: white;
  h3 {
    margin-left: 15px;
  }
}

.nav-btn {
  color: #F66B0E;
  background-color: white;
  padding: 8px 24px;
  border-radius: 5px;
  transition: background 0.3s ease;
  margin-right: 20px;
}

.nav-btn:hover {
  background: #F66B0E;
  color: white;
}
