.form-custom{
    width: 25%;
    opacity: 0.8;
    margin-right: 4px;
}
.first{
  z-index: 3;
}

.form-custom-search{
  opacity: 0.8;
  margin-right: 4px;
}

.select-form{
  background-color: #EFEFEF;
  color: #112B3C;
  border-radius: 8px;
  border-color: #F66B0E;
  font-size: 12px;
  margin-top: 12px;
  padding: 8px 0px;
  width: 100px;
}
.btn-form{
  background-color: #EFEFEF;
  color: #F66B0E;
  border-radius: 8px;
  border-color: #F66B0E;
  font-size: 12px;
}
