.form-custom{
    width: 25%;
    opacity: 0.8;
    margin-right: 4px;
}
.first{
  z-index: 3;
}

.form-custom-search{
  opacity: 0.8;
  margin-right: 4px;
}

.btn-search {
  color: white;
  background-color: #205375;
  padding: 8px 24px;
  border-radius: 5px;
  transition: background 0.3s ease;
  margin-right: 20px;
  border: 0;
}
